<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />    
    <title>Pokedex</title>
</head>
<body>  
    <header>
        <h1><a href="/">Pokedex</a></h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>

    <% if(message != ""){ %>
        <section id="message">
            <p><%= message %></p><span id="close">&times;</span>
        </section>
    <% } %>

    <section class="corpo" id="poke">
        <% pokedex.forEach((elemento, indice) =>{ %>
            <a class="pokemons" href="/detalhes/<%= indice %>">               
                <h1><%= elemento.nome %></h1>               
                <img src="<%= elemento.imagem %>" alt="">   
                <h1><%= elemento.tipo %></h1>
            </a>
        <% }) %>
    </section>
    <script src="/js/script.js"></script>
</body>
<footer>
    <h6>Todos os direitos Pokemonizados</h6>  
</footer>
</html>