<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <% pokedex.forEach(elemento =>{ %>
    <h1><%= elemento.numero %></h1>
    <h1><%= elemento.nome %></h1>
    <h1><%= elemento.tipo %></h1>
    <img src=<%= elemento.imagem %>
    <h1><%= elemento.descricao %></h1>
    <h1><%= elemento.altura %></h1>
    <h1><%= elemento.peso %></h1>
    <h1><%= elemento.categoria %></h1>
    <h1><%= elemento.habilidade %></h1>
    <% }) %>
</body>
</html>