<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <h1><%= pokedex[0].numero %></h1>
    <h1><%= pokedex[0].nome %></h1>
    <h1><%= pokedex[0].tipo %></h1>
    <img src=<%= pokedex[0].imagem %>
    <h1><%= pokedex[0].descricao %></h1>
    <h1><%= pokedex[0].altura %></h1>
    <h1><%= pokedex[0].peso %></h1>
    <h1><%= pokedex[0].categoria %></h1>
    <h1><%= pokedex[0].habilidade %></h1>

</body>
</html>