<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <% pokedex.foreach(elemento =>{ %>
    <h1><%= pokedex[elemento].numero %></h1>
    <h1><%= pokedex[elemento].nome %></h1>
    <h1><%= pokedex[elemento].tipo %></h1>
    <img src=<%= pokedex[0].imagem %>
    <h1><%= pokedex[elemento].descricao %></h1>
    <h1><%= pokedex[elemento].altura %></h1>
    <h1><%= pokedex[elemento].peso %></h1>
    <h1><%= pokedex[elemento].categoria %></h1>
    <h1><%= pokedex[elemento].habilidade %></h1>
    <% } %>
</body>
</html>